@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Outfit:wght@100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Saira:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


.container {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 26vw;
    height: 12vw;
    border: 2px solid black;
    border-radius: 10px;
    border: none;
    color: white;
    margin: 20px;
    overflow: hidden;
}

.container>* {
    cursor: pointer;
}

.info {
    position: absolute;
    margin-left: 5%;
    margin-bottom: 5%;
    z-index: 2;
}

.info>* {
    margin: 0;
    margin-bottom: 8px;
    font-family: "Nuinto Sans", sans-serif;
    color: white;
}

.categoryTitle {
    font-size: 1.4vw;
    font-weight: bold;
}

.totalItems {
    font-size: 1.2vw;
    font-weight: 200;
}

.btnExplore {
    padding: 10px;
    font-weight: bold;
    font-size: 1vw;
    border: none;
    border-radius: 8px;
    background-color: #0000000f;
    color: white;
    border: 1px solid #c7c7c7;
    transition: all .3s ease-in-out;
}


.layer {
    position: absolute;
    inset: 0;
    border: none;
    border-radius: 8px;
    background-color: hsla(0, 0%, 0%, 0.141);
    z-index: 1;
    transition: all .3s ease;
}

.bgImage {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    opacity: 0.7;
    transition: transform .3s ease-in-out;
}

.container:hover .bgImage {
    transform: scale(1.2);
}

.container:hover .layer {
    background-color: hsl(0deg 0% 0% / 9%);
}

.btnExplore:hover {
    color: black;
    background-color: white;
}

/* Media Query */
@media(width<1450px) {
    .container {
        width: 30vw;
        height: 14vw;
    }
}