@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


body {
    margin: 0;
}

.navbar {
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vw;
    gap: 5vw;
    color: black;
    position: fixed;
    top: 0;
    width: 100vw;
    transition: all .5s ease;
}


.search {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 8px;
    background: #cfecf7;
    padding: 0 10px;
    border: 2px solid #adadad;
}

.search img {
    width: 1vw;
}

.search .searchBox {
    font-family: "Saira", sans-serif;
    width: 30vw;
    height: 5vh;
    font-size: 1.2rem;
    background-color: #cfecf7;
    border: none;
}

.search .searchBox:focus {
    outline: none;
}

input::placeholder {
    color: hsl(0, 0%, 38%);
    /* opacity: 1; */
}

.middle ul {
    display: flex;
    align-items: center;
    gap: 2vw;
    font-size: 1.3rem;
    font-family: "Saira", "Roboto Condensed";
    font-weight: 400;
}


.middle ul li {
    transition: transform .2s ease;
    list-style: none;
    cursor: pointer;
}

.middle ul li a {
    text-decoration: none;
}

.white {
    color: white;
}

.black {
    color: black;
}

.middle ul li:hover {
    transform: scale(1.1);
    font-weight: 400;
}

.middle ul li select {
    width: 7rem;
    font-size: 1.3rem;
    font-family: "Saira", "Roboto Condensed";
    font-weight: 400;
    border: none;
    transition: all .5s ease;
}

.cartImg img {
    width: 2.2vw;
}

.noFilter {
    filter: none;
}

.filter {
    filter: invert(1);
}

.Scrolled {
    background-color: #366a8a;
}

.UnScrolled {
    background-color: transparent;
}

.SignBtn {
    padding: 11px 20px;
    border-radius: 40px;
    border: none;
    background-color: hsl(196deg 100% 40.26%);
    font-family: "Saira", "Roboto Condensed";
    color: white;
    font-weight: 500;
    cursor: pointer;
    font-size: 1.1rem;
}

.LoginBtn {
    padding: 11px 20px;
    border-radius: 40px;
    border: none;
    background-color: orangered;
    font-family: "Saira", "Roboto Condensed";
    color: white;
    font-weight: 500;
    cursor: pointer;
    font-size: 1.1rem;
}

.logo {
    margin-left: 1vw;
    width: 4vw;
    border-radius: 100%;
}

.invisible {
    display: none;
}

.visible {
    display: inline-block;
}

.user {
    padding: 11px 20px;
    border-radius: 40px;
    border: none;
    background-color: rgba(255, 68, 0, 0.603);
    font-family: "Saira", "Roboto Condensed";
    color: white;
    font-weight: 500;
    cursor: pointer;
    font-size: 1.1rem;
}

/* Media Query */
@media(width<1450px) {

    .middle ul li:nth-child(1),
    .middle ul li:nth-child(2),
    .middle ul li:nth-child(3) {
        display: none;
    }

    .logo {
        width: 5rem;
    }

    .cartImg img {
        width: 3.2rem;
    }
}