@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


.Container * {
    margin: 0;
    padding: 0;
}

.root {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Container {
    display: flex;
    gap: 2rem;
    background-color: white;
    height: 70vh;
    min-width: 70vw;
    margin: auto;
    /* margin-top: 8vw; */
    padding: 2vw;
}

.mainImage {
    width: 25vw;
    height: 50vh;
    /* border: 2px solid black; */
    width: 25vw;
    height: 50vh;
}


.mainImage img {
    width: 100%;
    height: 100%;
}

.subImages ul li img {
    width: 100%;
    height: 100%;
}

.subImages ul {
    margin-top: 2vw;
    display: flex;
    padding: 0;
    align-items: center;
    width: 25vw;
    gap: 2rem;
}


.subImages ul li {
    width: 4vw;
    height: 8vh;
    border: 1px solid hsl(0, 0%, 80%);
}

.subImages ul .border {
    border: 2px solid red;
}

.right {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.title p {
    font-size: 1.5rem;
    font-family: "Saira", sans-serif;
    margin: 0;
}

.ratings {
    display: flex;
    gap: 10px;
    align-items: center;
}

.star {
    width: 1.5vw;
}

.ratingText p {
    font-size: 1rem;
    font-family: "Saira", sans-serif;
    color: purple;
    cursor: pointer;
}

.finalPrice {
    font-size: 1.6rem;
    color: red;
    font-weight: 500;
    font-family: 'Saira', sans-serif;
}

.initialPrice {
    margin-right: 1.5rem;
    font-size: 1.2rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.539);
    font-family: 'Saira', sans-serif;
}

.discount {
    display: inline;
    font-size: 1.2rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.539);
    font-family: 'Saira', sans-serif;
}

.quantitySection {
    display: flex;
    align-items: center;
    gap: 4rem;
    font-family: "Saira", sans-serif;

}

.quantitySection .text {
    font-weight: 400;
    font-size: 1.5rem;
}

.updater {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.updater .quantity {
    font-size: 1.3rem;
}

.btn {
    width: 3rem;
    height: 5vh;
    font-size: 1.5rem;
    cursor: pointer;
    border: none;
    font-weight: 400;
    transition: all .3s ease;
}

.btn:hover {
    background-color: hsl(0, 0%, 80%);
}

.transparent {
    background-color: hsl(0, 0%, 97%);
    cursor: not-allowed;
}

.transparent:hover {
    background-color: hsl(0, 0%, 97%);
}

.purchase {
    margin-top: 1.5vw;
    display: flex;
    gap: 1rem;
}

.cBtn {
    width: 14vw;
    height: 5vh;
    border: none;
    cursor: pointer;
    transition: all .3s ease;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: 400;
    font-family: "Roboto Condensed", sans-serif;
}

.buyBtn {
    background-color: hsl(196, 71%, 89%);
}

.buyBtn:hover {
    background-color: hsl(196, 71%, 79%);
}

.cartBtn {
    background-color: hsl(0, 100%, 50%);
    color: white;
}

.cartBtn:hover {
    background-color: hsl(0, 100%, 40%);
}

@media(width<800px) {

    .mainImage{
        width:16rem;;
    }

    .subImages ul li{
        width: 4rem;
    }

    .buyBtn,
    .cartBtn {
        width: 12vw;
    }

    .quantitySection {
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 0rem;
    }
}

@media(width<500px) {
    .Container {
        width: 90vw;
        gap: 1rem;
    }

    .mainImage {
        width: 12rem;
    }

    .subImages ul {
        width: 100%;
        gap: 1rem;
    }

    .subImages ul li {
        width: 3rem;
    }

    .title p {
        font-size: 1rem;
        font-weight: 500;
    }

    .ratings {
        flex-direction: column;
        justify-content: center;
        gap: 0px;
        align-items: start;
    }

    .star {
        width: 1rem;
    }

    .finalPrice,
    .initialPrice,
    .discount,
    .quantitySection .text {
        font-size: 1rem;
    }

    .quantitySection {
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 0rem;
    }

    .updater {
        gap: 14px;
    }

    .btn {
        width: 1rem;
    }

    .buyBtn,
    .cartBtn {
        width: 3rem;
        border-radius: 4px;
        font-size: 0.7rem;
    }

    .quantity {
        font-size: 1rem;
    }
}
